* {
  font-family: 'Overpass Mono', monospace !important;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}
.header h6 {
  position: relative;
  left: 10px;
}
.donations {
  margin-top: 100px;
}
